config
dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

# Elm
elm-stuff
# No need to add the js created with elm
elm/output/elm.js
codex.tags

# Compiled js
*.js
